{
    "openapi": "3.0.0",
    "info": {
        "title": "API UHS Asbl",
        "description": "API REST complète avec gestion des activites de UHS Asbl",
        "contact": {
            "name": "Support API",
            "email": "support@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-uhs.uhs-rdc.org",
            "description": "Serveur principal"
        }
    ],
    "paths": {
        "/api/category_abonne.getAllData": {
            "get": {
                "tags": [
                    "Abonnement Categories"
                ],
                "summary": "Liste des catégories d'abonnés",
                "operationId": "96b10e2c390a1f7d23466eb2baebc97a",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/category_abonne.getOptionsData": {
            "get": {
                "tags": [
                    "Abonnement Categories"
                ],
                "summary": "Liste des catégories d'abonnés",
                "operationId": "6951681a4b2afd2501c924d9874a1ff8",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/category_abonne.store": {
            "post": {
                "tags": [
                    "Abonnement Categories"
                ],
                "summary": "Créer une catégorie d'abonné",
                "operationId": "318c5175a91334683f6a798f6338cbfc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "designation",
                                    "prix_mensuel"
                                ],
                                "properties": {
                                    "designation": {
                                        "type": "string",
                                        "example": "Église"
                                    },
                                    "prix_mensuel": {
                                        "type": "number",
                                        "format": "float",
                                        "example": "50.00"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Catégorie créée avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/category_abonne.update/{id}": {
            "put": {
                "tags": [
                    "Abonnement Categories"
                ],
                "summary": "Mettre à jour une catégorie d'abonné",
                "operationId": "9a146ce2e4a87d89b94a28bdcefef8c2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la catégorie",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "designation": {
                                        "type": "string",
                                        "example": "Hôpital"
                                    },
                                    "prix_mensuel": {
                                        "type": "number",
                                        "format": "float",
                                        "example": "30.00"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Catégorie mise à jour avec succès"
                    },
                    "404": {
                        "description": "Catégorie non trouvée"
                    }
                }
            }
        },
        "/api/category_abonne.delete/{id}": {
            "delete": {
                "tags": [
                    "Abonnement Categories"
                ],
                "summary": "Supprimer une catégorie d'abonné",
                "operationId": "b10382ca229b0549b58f3f811f68ef6e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la catégorie",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catégorie supprimée avec succès"
                    },
                    "404": {
                        "description": "Catégorie non trouvée"
                    }
                }
            }
        },
        "/api/abonnes.getAllData": {
            "get": {
                "tags": [
                    "Abonnés"
                ],
                "summary": "Liste des abonnés",
                "operationId": "2462dfa3fd748832c7bfc5f5bd8c9fec",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/abonnes.getOptionsData": {
            "get": {
                "tags": [
                    "Abonnés"
                ],
                "summary": "Liste des abonnés",
                "operationId": "b5aac34d0e29200fc148f725516b7ed2",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/abonnes.store": {
            "post": {
                "tags": [
                    "Abonnés"
                ],
                "summary": "Créer un abonné",
                "operationId": "5e83e701c4700971be7479885ce908a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "categorie_id",
                                    "addedBy"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Paroisse St Luc"
                                    },
                                    "categorie_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "telephone": {
                                        "type": "string",
                                        "example": "+243900000000"
                                    },
                                    "adresse": {
                                        "type": "string",
                                        "example": "Goma, RDC"
                                    },
                                    "addedBy": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Abonné créé avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/abonnes.update/{id}": {
            "put": {
                "tags": [
                    "Abonnés"
                ],
                "summary": "Mettre à jour un abonné",
                "operationId": "e9646e83cb52e70c074980b8c33e676f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'abonné",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "Hôpital Heal Africa"
                                    },
                                    "categorie_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "telephone": {
                                        "type": "string",
                                        "example": "+243991234567"
                                    },
                                    "adresse": {
                                        "type": "string",
                                        "example": "Kinshasa, RDC"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Abonné mis à jour avec succès"
                    },
                    "404": {
                        "description": "Abonné non trouvé"
                    }
                }
            }
        },
        "/api/abonnes.delete/{id}": {
            "delete": {
                "tags": [
                    "Abonnés"
                ],
                "summary": "Supprimer un abonné",
                "operationId": "b6ef3e84c2b9b2a1bddb3926a9678ea9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'abonné",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Abonné supprimé avec succès"
                    },
                    "404": {
                        "description": "Abonné non trouvé"
                    }
                }
            }
        },
        "/api/about.index": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Récupérer les informations",
                "description": "Retourne les informations de l’entreprise (about)",
                "operationId": "17aecdc1edd757ba6d00d7a5a9f80553",
                "responses": {
                    "200": {
                        "description": "Données de l’entreprise",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/about.store": {
            "post": {
                "tags": [
                    "About"
                ],
                "summary": "Créer les informations",
                "description": "Créer les informations de l’entreprise (about)",
                "operationId": "a0d44e120c9bfe4b7eb61b26904b06a4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "denomination"
                                ],
                                "properties": {
                                    "denomination": {
                                        "type": "string",
                                        "example": "UHS Asbl"
                                    },
                                    "details": {
                                        "type": "string",
                                        "example": "ONG œuvrant dans l’humanitaire"
                                    },
                                    "register": {
                                        "type": "string",
                                        "example": "RCCM12345"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "example": "IDN12345"
                                    },
                                    "tax_number": {
                                        "type": "string",
                                        "example": "NIF12345"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+243900000000"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Goma, RDC"
                                    },
                                    "logo": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/about.update/{id}": {
            "post": {
                "tags": [
                    "About"
                ],
                "summary": "Mettre à jour les informations",
                "description": "Modifier les informations de l’entreprise (about). \n     *                  Si aucun logo n’est envoyé, l’ancien reste.",
                "operationId": "c4aede7f29d1d3037471976f493e64dc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du about",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "denomination": {
                                        "type": "string",
                                        "example": "UHS Asbl"
                                    },
                                    "details": {
                                        "type": "string",
                                        "example": "ONG mise à jour"
                                    },
                                    "register": {
                                        "type": "string"
                                    },
                                    "national_id": {
                                        "type": "string"
                                    },
                                    "tax_number": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "logo": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mise à jour réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login User",
                "description": "Authenticate user with email or phone and return access token",
                "operationId": "login",
                "requestBody": {
                    "description": "User login credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Phone number or email",
                                        "type": "string",
                                        "example": "admin@admin.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authenticated successfully"
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Account disabled"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Déconnexion",
                "description": "Déconnexion d'un utilisateur en utilisant son token",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Utilisateur déconnecté avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Déconnexion réussie"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashBoardAdmin.getData": {
            "get": {
                "tags": [
                    "DashBoard"
                ],
                "summary": "Récupère tous les rapports d'intervention",
                "description": "Retourne la liste des rapports d'intervention",
                "operationId": "indexWeb",
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RapportIntervention"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/dashBoardTechnicien.getData": {
            "get": {
                "tags": [
                    "DashBoard"
                ],
                "summary": "Récupère tous les rapports d'intervention",
                "description": "Retourne la liste des rapports d'intervention",
                "operationId": "indexTechnicien",
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RapportIntervention"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/facturations.getAllData": {
            "get": {
                "tags": [
                    "Facturations"
                ],
                "summary": "Liste des facturations",
                "description": "Récupérer toutes les facturations avec leurs abonnés",
                "operationId": "92837833ecfbbd98d604b56990a0be60",
                "responses": {
                    "200": {
                        "description": "Liste des facturations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Facturation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/facturations.delete/{id}": {
            "delete": {
                "tags": [
                    "Facturations"
                ],
                "summary": "Supprimer une facturation",
                "description": "Suppression d’une facturation par ID",
                "operationId": "3c4f8e663d9a08ecf825ec5f71ac3dee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la facturation",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Facturation supprimée avec succès"
                    },
                    "404": {
                        "description": "Facturation non trouvée"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/facturations.store": {
            "post": {
                "tags": [
                    "Facturations"
                ],
                "summary": "Créer une facturation",
                "description": "Ajout d’une nouvelle facturation pour les abonnés",
                "operationId": "6bb0c070c179910d08e0ac69ad108cd5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "date_emission"
                                ],
                                "properties": {
                                    "date_emission": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Facturation créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Facturation ajoutée avec succès"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Facturation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/rapport-interventions.getAllData": {
            "get": {
                "tags": [
                    "RapportInterventions"
                ],
                "summary": "Récupère tous les rapports d'intervention",
                "description": "Retourne la liste des rapports d'intervention",
                "operationId": "getAllRapportData",
                "responses": {
                    "200": {
                        "description": "Succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RapportIntervention"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/rapport-interventions.store": {
            "post": {
                "tags": [
                    "RapportInterventions"
                ],
                "summary": "Créer un rapport d'intervention",
                "operationId": "storeRapport",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RapportIntervention"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Créé avec succès"
                    }
                }
            }
        },
        "/api/rapport-interventions.update/{id}": {
            "put": {
                "tags": [
                    "RapportInterventions"
                ],
                "summary": "Met à jour un rapport d'intervention",
                "operationId": "updateRapport",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RapportIntervention"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mis à jour avec succès"
                    },
                    "404": {
                        "description": "Non trouvé"
                    }
                }
            }
        },
        "/api/rapport-interventions.delete/{id}": {
            "delete": {
                "tags": [
                    "RapportInterventions"
                ],
                "summary": "Supprime un rapport d'intervention",
                "operationId": "destroyRapport",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Supprimé avec succès"
                    },
                    "404": {
                        "description": "Non trouvé"
                    }
                }
            }
        },
        "/api/versements.getAllData": {
            "get": {
                "tags": [
                    "Versements"
                ],
                "summary": "Liste des versements",
                "description": "Récupérer toutes les Payements avec leurs abonnés",
                "operationId": "bef88b93b2f6f84d13d8c56bfc4f6eb6",
                "responses": {
                    "200": {
                        "description": "Liste des Payements",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Facturation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/versements.store": {
            "post": {
                "tags": [
                    "Versements"
                ],
                "summary": "Créer un nouveau versement",
                "description": "Crée un nouveau versement avec les informations fournies. Le taux est de 30% par défaut.",
                "operationId": "storeVersement",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "transaction_date",
                                    "amount",
                                    "paid_amount"
                                ],
                                "properties": {
                                    "transaction_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-09"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 1000
                                    },
                                    "paid_amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 700
                                    },
                                    "taux": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 30
                                    },
                                    "account_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "agent_id": {
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Versement créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Versement créé avec succès."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Versement"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/versements.update/{id}": {
            "put": {
                "tags": [
                    "Versements"
                ],
                "summary": "Mettre à jour un versement existant",
                "description": "Met à jour un versement existant avec les informations fournies.",
                "operationId": "updateVersement",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du versement à mettre à jour",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "transaction_date",
                                    "amount",
                                    "paid_amount"
                                ],
                                "properties": {
                                    "transaction_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-09"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 1000
                                    },
                                    "paid_amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 700
                                    },
                                    "taux": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 30
                                    },
                                    "account_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "agent_id": {
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Versement mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Versement mis à jour avec succès."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Versement"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Versement non trouvé"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/payements.getAllData": {
            "get": {
                "tags": [
                    "Payements"
                ],
                "summary": "Liste des Payements",
                "description": "Récupérer toutes les Payements avec leurs abonnés",
                "operationId": "e8b837bf5416f65773264dbea8699390",
                "responses": {
                    "200": {
                        "description": "Liste des Payements",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Facturation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payementsWeb.getAllData": {
            "get": {
                "tags": [
                    "Payements"
                ],
                "summary": "Liste des Payements",
                "description": "Récupérer toutes les Payements avec leurs abonnés",
                "operationId": "b210c1b3cfe3b2dbc3202041df1f63d3",
                "responses": {
                    "200": {
                        "description": "Liste des Payements",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Facturation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/payements.store": {
            "post": {
                "tags": [
                    "Payements"
                ],
                "summary": "Créer un paiement",
                "operationId": "ab0d5906d86756a3b8e1aed131bf97b3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "loan_amount",
                                    "paid_amount",
                                    "transaction_date",
                                    "account_id",
                                    "facture_id"
                                ],
                                "properties": {
                                    "loan_amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "example": 1000
                                    },
                                    "paid_amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "example": 500
                                    },
                                    "transaction_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-27"
                                    },
                                    "account_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "facture_id": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Paiement créé avec succès"
                    },
                    "400": {
                        "description": "Erreur de validation"
                    },
                    "500": {
                        "description": "Erreur serveur lors de la création"
                    }
                }
            }
        },
        "/api/permission.index": {
            "get": {
                "tags": [
                    "Permission"
                ],
                "summary": "Get list",
                "description": "Returns list of",
                "operationId": "getPemissionData",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api/point-eau-abonne.getAllData": {
            "get": {
                "tags": [
                    "Point d’eau abonnés"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "942da329a114d2555d33d333992f38c2",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/point-eau-abonnes.store": {
            "post": {
                "tags": [
                    "Point d’eau abonnés"
                ],
                "summary": "Lier un abonné à un point d’eau",
                "operationId": "44dc526f999965b2ea7423dd141b7bab",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "abonne_id",
                                    "point_eau_id"
                                ],
                                "properties": {
                                    "abonne_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "point_eau_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date_operation": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-26"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Lien créé avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/point-eau-abonnes/{id}": {
            "put": {
                "tags": [
                    "Point d’eau abonnés"
                ],
                "summary": "Mettre à jour un lien abonné - point d’eau",
                "operationId": "9fd7022f1a44805e441f23ebab20491d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du lien abonné - point d’eau",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "abonne_id",
                                    "point_eau_id",
                                    "date_operation"
                                ],
                                "properties": {
                                    "abonne_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "point_eau_id": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "date_operation": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-26"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lien mis à jour avec succès"
                    },
                    "404": {
                        "description": "Lien introuvable"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Point d’eau abonnés"
                ],
                "summary": "Supprimer le lien entre un abonné et un point d’eau",
                "operationId": "ea6adee2597a5d02db0ad9e1a584c198",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du lien abonné - point d’eau",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lien supprimé avec succès"
                    },
                    "404": {
                        "description": "Lien introuvable"
                    }
                }
            }
        },
        "/api/point-eaux.getAllData": {
            "get": {
                "tags": [
                    "Points d’eau"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "4f63fd7730bac4ce7dc24cbd4c97b7ef",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/point-eaux.getOptionsData": {
            "get": {
                "tags": [
                    "Points d’eau"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "f425f32162147965d1d6a73136326553",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/point-eaux.store": {
            "post": {
                "tags": [
                    "Points d’eau"
                ],
                "summary": "Créer un point d’eau",
                "operationId": "654581a9b53fb73d54ba41d0bd72d4e1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lat",
                                    "long",
                                    "status",
                                    "numero_compteur"
                                ],
                                "properties": {
                                    "lat": {
                                        "type": "string",
                                        "example": "-1.6789"
                                    },
                                    "long": {
                                        "type": "string",
                                        "example": "29.2345"
                                    },
                                    "numero_compteur": {
                                        "type": "string",
                                        "example": "COMP-001"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "Actif"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Point d’eau créé avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/point-eaux.update/{id}": {
            "put": {
                "tags": [
                    "Points d’eau"
                ],
                "summary": "Mettre à jour un point d’eau",
                "operationId": "468b286027dfd3599955d452e2884b3d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du point d’eau",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "lat": {
                                        "type": "string",
                                        "example": "-1.6789"
                                    },
                                    "long": {
                                        "type": "string",
                                        "example": "29.2345"
                                    },
                                    "numero_compteur": {
                                        "type": "string",
                                        "example": "COMP-001"
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "Actif"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Point d’eau mis à jour avec succès"
                    },
                    "404": {
                        "description": "Point d’eau non trouvé"
                    }
                }
            }
        },
        "/api/point-eaux.delete/{id}": {
            "delete": {
                "tags": [
                    "Points d’eau"
                ],
                "summary": "Supprimer un point d’eau",
                "operationId": "1ff1a61a7dd52ae4d07541151365b4ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du point d’eau",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Point d’eau supprimé avec succès"
                    },
                    "404": {
                        "description": "Point d’eau non trouvé"
                    }
                }
            }
        },
        "/api/depenses.index": {
            "get": {
                "tags": [
                    "Dépenses"
                ],
                "summary": "Afficher toutes les dépenses avec leurs détails associés",
                "operationId": "f1a4a7f8d797dc3328b25104255af782",
                "responses": {
                    "200": {
                        "description": "Liste des dépenses récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Liste des dépenses récupérée avec succès"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "example": "2025-10-03"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Achat matériel"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "Cloturer"
                                                    },
                                                    "ticket_id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "addedBy": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "details": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 10
                                                                },
                                                                "motif": {
                                                                    "type": "string",
                                                                    "example": "Papeterie"
                                                                },
                                                                "amount": {
                                                                    "type": "number",
                                                                    "example": 150.75
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                }
            }
        },
        "/api/depenses.store": {
            "post": {
                "tags": [
                    "Dépenses"
                ],
                "summary": "Créer une dépense avec ses détails",
                "description": "Crée une nouvelle dépense (main) et plusieurs détails associés dans une seule transaction.",
                "operationId": "storeDepense",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "main": {
                                        "properties": {
                                            "date": {
                                                "type": "string",
                                                "example": "2025-10-03"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "lorem ipsum"
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "Cloturer"
                                            },
                                            "ticket_id": {
                                                "type": "integer",
                                                "example": 2
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "details": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "motif": {
                                                    "type": "string",
                                                    "example": "test"
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "example": 30.5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Dépense créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dépense créée avec succès"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    },
                    "500": {
                        "description": "Erreur serveur interne"
                    }
                }
            }
        },
        "/api/depenses.update/{id}": {
            "put": {
                "tags": [
                    "Dépenses"
                ],
                "summary": "Mettre à jour une dépense existante et ses détails sans les supprimer",
                "operationId": "fd93f7c874f6517a59b4b3fcc0c80c4d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la dépense à modifier",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "main": {
                                        "properties": {
                                            "date": {
                                                "type": "string",
                                                "example": "2025-10-03"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Achat matériel"
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "Cloturer"
                                            },
                                            "ticket_id": {
                                                "type": "integer",
                                                "example": 2
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "details": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "motif": {
                                                    "type": "string",
                                                    "example": "Papeterie"
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "example": 120.5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dépense mise à jour avec succès"
                    },
                    "404": {
                        "description": "Dépense non trouvée"
                    },
                    "422": {
                        "description": "Données invalides"
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                }
            }
        },
        "/api/depenses.delete/{id}": {
            "delete": {
                "tags": [
                    "Dépenses"
                ],
                "summary": "Supprimer une dépense et tous ses détails associés",
                "operationId": "fea48c7c0135db91901c559a9c7783bf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la dépense à supprimer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dépense supprimée avec succès"
                    },
                    "404": {
                        "description": "Dépense non trouvée"
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                }
            }
        },
        "/api/rapport.borne": {
            "get": {
                "tags": [
                    "Rapports"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "944a3cacbb806e37d7375e77adadfa64",
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/rapport.point-eau-abonne": {
            "get": {
                "tags": [
                    "Rapports"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "390e12aad52fdf9ac831dd24c522938b",
                "parameters": [
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date de début au format YYYY-MM-DD (inclus). Par défaut : début du mois courant.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-01"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date de fin au format YYYY-MM-DD (inclus). Par défaut : date du jour.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-25"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/rapport.facturations": {
            "get": {
                "tags": [
                    "Rapports"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "ed613f50fbda2c8fb82aeac113ea001c",
                "parameters": [
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date de début au format YYYY-MM-DD (inclus). Par défaut : début du mois courant.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-01"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date de fin au format YYYY-MM-DD (inclus). Par défaut : date du jour.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-25"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/rapport.versements": {
            "get": {
                "tags": [
                    "Rapports"
                ],
                "summary": "Liste des points d’eau",
                "operationId": "d9609c4f8cf2de7333b8f8fe75d77062",
                "parameters": [
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Date de début au format YYYY-MM-DD (inclus). Par défaut : début du mois courant.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-01"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Date de fin au format YYYY-MM-DD (inclus). Par défaut : date du jour.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-10-25"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste récupérée avec succès"
                    }
                }
            }
        },
        "/api/role.store": {
            "post": {
                "tags": [
                    "Role"
                ],
                "summary": "Create Role",
                "description": "Creation du role",
                "operationId": "storeRole",
                "requestBody": {
                    "description": "Enregistrer un role",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "permissions"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "super admin"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "create-users",
                                            "view-reports"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Role créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle ajouté avec succès et permissions assignées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Role already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le rôle existe déjà."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Permissions not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Une ou plusieurs permissions n'ont pas été trouvées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/role.update/{id}": {
            "put": {
                "tags": [
                    "Role"
                ],
                "summary": "Update Role",
                "description": "Modification d'un role existant",
                "operationId": "updateRole",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the role to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Données du rôle à modifier",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "updated admin"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "view-users",
                                            "delete-users"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Role updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle mis à jour avec succès et permissions synchronisées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Role or permissions not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle non trouvé."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/role.Options": {
            "get": {
                "tags": [
                    "Role"
                ],
                "summary": "Get list of Services",
                "description": "Returns list of Services",
                "operationId": "getRole",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api/permissionDataByRole/{id}": {
            "get": {
                "tags": [
                    "Role"
                ],
                "summary": "Get permissions by role ID",
                "description": "Returns the list of permissions for a given role ID",
                "operationId": "getPermissionDataByRole",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du rôle",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "example": "Voir_abonnement"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tickets.getAllData": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Liste des tickets",
                "description": "Récupérer tous les tickets liés aux points d’eau",
                "operationId": "b3b5ce8d1c6df51554550f9c4d184f34",
                "responses": {
                    "200": {
                        "description": "Liste des tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Ticket"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tickets.getOptionsData": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Liste des tickets",
                "description": "Récupérer tous les tickets liés aux points d’eau",
                "operationId": "bb50f7cc126621d71cf091344a3e88fa",
                "responses": {
                    "200": {
                        "description": "Liste des tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Ticket"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tickets.store": {
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Créer un ticket",
                "description": "Ajout d’un nouveau ticket de maintenance",
                "operationId": "5fc727f0979c4176011ed930f081c63d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "point_id",
                                    "description",
                                    "status",
                                    "priorite",
                                    "technicien_id",
                                    "date_ouverture"
                                ],
                                "properties": {
                                    "point_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Fuite détectée dans le compteur."
                                    },
                                    "status": {
                                        "type": "string",
                                        "example": "Ouvert"
                                    },
                                    "priorite": {
                                        "type": "string",
                                        "example": "Haute"
                                    },
                                    "technicien_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "date_ouverture": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-21"
                                    },
                                    "date_cloture": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-09-25"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ticket créé avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/tickets.update/{id}": {
            "put": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Modifier un ticket",
                "description": "Mise à jour d’un ticket existant",
                "operationId": "12424ff9ab5d0268021256ebbfdaa115",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du ticket",
                        "required": true,
                        "schema": {
[...]
