{
    "openapi": "3.0.0",
    "info": {
        "title": "API UHS Asbl",
        "description": "API REST complète avec gestion des activites de UHS Asbl",
        "contact": {
            "name": "Support API",
            "email": "support@example.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-uhs.uhs-rdc.org",
            "description": "Serveur principal"
        }
    ],
    "paths": {
        "/api/about.index": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Récupérer les informations",
                "description": "Retourne les informations de l’entreprise (about)",
                "operationId": "17aecdc1edd757ba6d00d7a5a9f80553",
                "responses": {
                    "200": {
                        "description": "Données de l’entreprise",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/about.store": {
            "post": {
                "tags": [
                    "About"
                ],
                "summary": "Créer les informations",
                "description": "Créer les informations de l’entreprise (about)",
                "operationId": "a0d44e120c9bfe4b7eb61b26904b06a4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "denomination"
                                ],
                                "properties": {
                                    "denomination": {
                                        "type": "string",
                                        "example": "UHS Asbl"
                                    },
                                    "details": {
                                        "type": "string",
                                        "example": "ONG œuvrant dans l’humanitaire"
                                    },
                                    "register": {
                                        "type": "string",
                                        "example": "RCCM12345"
                                    },
                                    "national_id": {
                                        "type": "string",
                                        "example": "IDN12345"
                                    },
                                    "tax_number": {
                                        "type": "string",
                                        "example": "NIF12345"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+243900000000"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Goma, RDC"
                                    },
                                    "logo": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/about.update/{id}": {
            "post": {
                "tags": [
                    "About"
                ],
                "summary": "Mettre à jour les informations",
                "description": "Modifier les informations de l’entreprise (about). \n     *                  Si aucun logo n’est envoyé, l’ancien reste.",
                "operationId": "c4aede7f29d1d3037471976f493e64dc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du about",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "denomination": {
                                        "type": "string",
                                        "example": "UHS Asbl"
                                    },
                                    "details": {
                                        "type": "string",
                                        "example": "ONG mise à jour"
                                    },
                                    "register": {
                                        "type": "string"
                                    },
                                    "national_id": {
                                        "type": "string"
                                    },
                                    "tax_number": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "logo": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Mise à jour réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/About"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login User",
                "description": "Authenticate user with email or phone and return access token",
                "operationId": "login",
                "requestBody": {
                    "description": "User login credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Phone number or email",
                                        "type": "string",
                                        "example": "admin@admin.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authenticated successfully"
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Account disabled"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Déconnexion",
                "description": "Déconnexion d'un utilisateur en utilisant son token",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Utilisateur déconnecté avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Déconnexion réussie"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Utilisateur non authentifié"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/permission.index": {
            "get": {
                "tags": [
                    "Permission"
                ],
                "summary": "Get list",
                "description": "Returns list of",
                "operationId": "getPemissionData",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api/role.store": {
            "post": {
                "tags": [
                    "Role"
                ],
                "summary": "Create Role",
                "description": "Creation du role",
                "operationId": "storeRole",
                "requestBody": {
                    "description": "Enregistrer un role",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "permissions"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "super admin"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "create-users",
                                            "view-reports"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Role créé avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle ajouté avec succès et permissions assignées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Role already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Le rôle existe déjà."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Permissions not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Une ou plusieurs permissions n'ont pas été trouvées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/role.update/{id}": {
            "put": {
                "tags": [
                    "Role"
                ],
                "summary": "Update Role",
                "description": "Modification d'un role existant",
                "operationId": "updateRole",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the role to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Données du rôle à modifier",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "updated admin"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "view-users",
                                            "delete-users"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Role updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle mis à jour avec succès et permissions synchronisées."
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Role or permissions not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rôle non trouvé."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/role.Options": {
            "get": {
                "tags": [
                    "Role"
                ],
                "summary": "Get list of Services",
                "description": "Returns list of Services",
                "operationId": "getRole",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api/permissionDataByRole/{id}": {
            "get": {
                "tags": [
                    "Role"
                ],
                "summary": "Get permissions by role ID",
                "description": "Returns the list of permissions for a given role ID",
                "operationId": "getPermissionDataByRole",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du rôle",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "example": "Voir_abonnement"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/users.getData": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Lister tous les utilisateurs",
                "description": "Retourne tous les utilisateurs avec roles et permissions",
                "operationId": "index",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/user.Options": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get list of Users",
                "description": "Returns list of Users",
                "operationId": "getAllUsersOptions",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/api/user.store": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Create User",
                "description": "Creation of a new user.",
                "operationId": "store",
                "requestBody": {
                    "description": "User data to be stored",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "password",
                                    "role_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Winner Kambale"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "winner@gmail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+243997604471"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "Winner00"
                                    },
                                    "role_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "ajouté avec success"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 201
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "User already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "exist"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user.update/{id}": {
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Update a User",
                "description": "Update an existing user's information.",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the user to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "User data to update",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Winner Kambale Updated"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "winner.updated@gmail.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+243999999999"
                                    },
                                    "role_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "service_id": {
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Agent mis à jour avec succès"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur non trouvé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Les données envoyées ne sont pas valides."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user.delete/{id}": {
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Delete a User",
                "description": "Delete a user by their ID.",
                "operationId": "destroy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the user to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur supprimé avec succès"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur non trouvé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user.activate/{id}": {
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Activer un utilisateur",
                "description": "Activer un utilisateur en utilisant l'ID spécifié",
                "operationId": "activateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur à activer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur activer avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur activer avec succès"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur non trouvé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/user.disable/{id}": {
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Suspendre un utilisateur",
                "description": "Suspendre un utilisateur en utilisant l'ID spécifié",
                "operationId": "disableUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur à suspendre",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur suspendu avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur suspendu avec succès"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur non trouvé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "About": {
                "title": "About",
                "required": [
                    "id",
                    "denomination"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "denomination": {
                        "type": "string",
                        "example": "UHS Asbl"
                    },
                    "details": {
                        "type": "string",
                        "example": "ONG œuvrant dans l’humanitaire"
                    },
                    "register": {
                        "type": "string",
                        "example": "RCCM12345"
                    },
                    "national_id": {
                        "type": "string",
                        "example": "IDN12345"
                    },
                    "tax_number": {
                        "type": "string",
                        "example": "NIF12345"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+243900000000"
                    },
                    "address": {
                        "type": "string",
                        "example": "Goma, RDC"
                    },
                    "logo": {
                        "type": "string",
                        "example": "logos/uhs.png"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "required": [
                    "id",
                    "name",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Jean Dupont"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "jean.dupont@example.com"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+243900000000"
                    },
                    "role": {
                        "type": "string",
                        "example": "admin"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "create_user"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Users",
            "description": "Gestion des utilisateurs"
        },
        {
            "name": "About",
            "description": "About"
        },
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Permission",
            "description": "Permission"
        },
        {
            "name": "Role",
            "description": "Role"
        }
    ]
}